.App {
  font-family: sans-serif;
  text-align: center;
}

.load-btn {
  background-color: dodgerblue;
  color: white;
  border: transparent;
  border-radius: 0 5px 5px 0;
  padding: 8px 20px;
  font-size: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.load-btn:focus {
  outline: 0;
}

.load-btn:hover {
  cursor: pointer;
}

input {
  padding: 8px 20px;
  border: transparent;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: 0;
}

form {
  margin-bottom: 40px;
}

svg {
  width: 40px;
  height: 40px;
  margin: 2px;
}
